#pager_header {
  min-height: 15vh;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  min-width: 100%;
  background-image: url(/images/background2.jpeg);
}

#mobile_header {
  width: 100%;
  display: grid;
}

#pager_header img {
  width: 40px;
  height: 40px;
}

.menu_radio_button {
  display: none;
}

#mobile_menu {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  display: grid;
  place-items: center;
  grid-template-rows: 20vh;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: all ease-in-out 0.33s;
  transform: scale(0);
  background-image: url(/images/background2.jpeg);
}

#menu_open:checked ~ #mobile_menu {
  visibility: visible;
  transform: scale(1);
  z-index: 10;
}

#menu_header {
  display: grid;
  place-items: center;
  width: 100%;
  grid-auto-flow: column;
  height: 20vh;
}

#page_content {
  min-height: 60vh;
  display: grid;
  place-items: center;
}

.hoverable {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 0px 0px black);
}

.hoverable:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 6px gray);
}

@media only screen and (min-width: 700px) {
  #mobile_menu {
    position: absolute;
    top: 160px;
    right: 30px;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20vh;
    width: 40%;
    height: 50%;
  }
}
@media only screen and (min-width: 1020px) {
  #mobile_menu {
    position: absolute;
    top: 135px;
    right: 380px;
    z-index: -1;
    display: grid;
    place-items: center;
    grid-template-rows: 20vh;
    width: 10%;
    height: 60%;
  }
}
footer {
  min-height: 15vh;
  width: 100%;
  display: grid;
  place-items: center;
  background-image: url(/images/background4.jpeg);
}
footer img {
  width: 100px;
}

@media only screen and (min-width: 1020px) {
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img, svg, iframe {
  max-width: 100%;
  object-fit: cover;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
}

#page_header, #page_main, #page_footer {
  display: grid;
  place-items: center;
  width: 100%;
}

#page_main {
  min-height: 70vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: grid;
}

#page_main {
  width: 100%;
  min-height: 70vh;
  display: grid;
  place-items: center;
  background-color: rgb(186, 207, 206);
  margin-bottom: 20px;
  margin-top: 20px;
}
#page_main h1 {
  text-align: center;
}
#page_main h2 {
  text-align: center;
}
#page_main #div {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#page_main h3 {
  width: 200px;
}

ul {
  display: grid;
  place-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #333;
}

li {
  margin-bottom: 10px;
}

.staff-directory {
  display: grid;
  grid-template-columns: repeat(1 220px);
  place-items: center;
  max-width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.staff-directory img {
  max-height: 250px;
  max-width: 200px;
  align-self: center;
  border-radius: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}
.staff-directory h3 {
  text-align: center;
}
.staff-directory h2 {
  text-align: center;
}
.staff-directory p {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  #page_main {
    min-width: 100%;
    place-items: center;
  }
  .staff-directory {
    min-width: 100%;
  }
}
@media only screen and (min-width: 1020px) {
  #page-main {
    height: 80vh;
    max-width: 100%;
    margin-top: 40px;
    background-image: url(/images/boat-wide.jpeg);
  }
  .staff-directory {
    display: grid;
    grid-template: 1fr 1fr 1fr;
    min-width: 90vw;
    margin-bottom: 30px;
    background-image: url(/images/plane.jpeg);
  }
  #sec1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-image: url(/images/redtruck.jpeg);
  }
  #div {
    text-align: center;
    text-overflow: wrap;
    min-width: 100px;
    margin-left: 20px;
  }
}

/*# sourceMappingURL=contacts.css.map */
