footer {
    min-height: 15vh;
    width: 100%;
    display: grid;
    place-items: center;
    background-image: url(/images/background4.jpeg);

    img {
        width: 100px;
    }

    #mark {
        display: grid;
        place-self: center;
    }

}

@media only screen and (min-width: 700px) {}




@media only screen and (min-width: 1020px) {
    footer {
        display: grid;
        place-items: center;
        width: 100%;
    }
}
