@use "header";
@use "footer";
@use "general";


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  body{
    display: grid;
  }
#page_main {
      width: 100%;
    min-height: 70vh;
    display: grid;
    place-items: center;
    background-color: rgb(186, 207, 206);
    margin-bottom: 20px;
    margin-top: 20px;

    #hours {
      place-items: center;
    }

    button {
      background-color: #2a62b6;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    button:hover {
      background-color: #45a049;
      width: 100px;
    }
    
  

    h1{
      text-align: center;
    }
    
    h2{
      text-align: center;
    }
    #div {
      width: 100%;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    h3{
      width: 200px;
    }
}


  form {
    width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  button[type="submit"] {
    background-color: #2a62b6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  @media only screen and (min-width: 600px) {
    #page_main {
      min-width: 100%;
      place-items: center;
    }

  }
  @media only screen and (min-width: 1020px) {
    #page-main {
     
      height: 80vh;
      max-width: 100%;
      margin-top: 40px;
      background-image: url(/images/boat-wide.jpeg);
    }

    #sec1 {
      display: grid;
      place-items: center;
      width: 100%;
      grid-template-columns:1fr 1fr 1fr;
      background-image: url(/images/redtruck.jpeg);
    }
 
    #div  h4{
      place-items: center;
      text-align: center;
      text-overflow: wrap;
      width: 300px;
      margin-left: 20px;
    }
    #frame{
      width: 100%;
    }
  }
