@use "header";
@use "footer";


* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: grid;
}

#page_main {
  min-height: 80vh;
  display: grid;
  place-items: center;
  max-width: 900px;


}

.welcome {
  position: relative;
  display: inline-block;
  object-fit: cover;
  max-width: 500px;


}

.welcome1 {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: none;
  padding: 10px;
  color: aliceblue;
  text-align: start;
  text-decoration: overline;
  text-overflow: wrap;
  width: 200px;

}


#sec2 {
  display: grid;
  place-items: center;
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
 

  img {
    align-self: center;
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 30px;
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;
    text-overflow: wrap;
  }

  h3 {
    text-align: center;
    margin-bottom: 5px;
    text-overflow: wrap;
  }

  p {
    text-overflow: wrap;
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
  }

  h4 {
    text-align: center;
    text-overflow: wrap;
  }
}

#sec3 {
  display: grid;
  place-items: center;
  max-width: 90%;
  margin-top: 70px;
  margin-bottom: 70px;
  background-color: rgb(205, 244, 255);

  img {
    object-fit: cover;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  h3 {
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(205, 244, 255);
  }

  p {
    text-overflow: wrap;
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
background-color: rgb(205, 244, 255);
  }
}
